.main {
    margin-left: 20px;
}



p {
    font-family:'rubik';
    font-size: 16px;
}


h3 {
    font-family: 'rubik' 'sans serif';
    font-size: 24px;
}

.article__title {
    font-family: roboto;
  }

.article__button,
.article__button1,
.article__button2,
.article__button3,
.article__button4 {
    font-family: montserrat;
  }