.hero1 {
    position: relative;
    width: 100%;
    height: 400px; 
    overflow: hidden;
  }
  
  .hero1__image--container {
    width: 100%;
    height: 100%;
  }
  
  .hero1__image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .hero1__content {
    position: absolute;
    bottom: 5px; 
    left: 20px; 
    color: #fff;
  }
  
  .hero1__title--home {
    font-size: 64px; 
    font-family: 'Special Elite';
    line-height: 110%;
  }
   
  .hero1__title--home1 {
    font-size: 64px; 
    font-family: 'Special Elite';
    line-height: 110%;
  }
  
  .hero1__content1  {
    position: absolute;
    bottom: 2px; 
    left: 17px; 
    color: #AE9B7B;
  }
 
  .hero {
    position: relative;
    width: 100%;
    height: 340px; 
    overflow: hidden;
  }
  
  .hero__image--container {
    width: 100%;
    height: 100%;
  }
  
  .hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .hero__content {
    position: absolute;
    margin-right: 20px;
    bottom: 5px; 
    left: 20px; 
    color: #fff;
  }
  
  .hero__title--home {
    font-size: 36; 
    font-family: 'Special Elite';
    line-height: 110%;
  }
   

  
 